<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Barber.Properties.Settings.BarbershopConnectionString"
            connectionString="Data Source=LAPTOP-9K6G3SGG\KHALIFRASYIDI;Initial Catalog=Barbershop;Persist Security Info=True;User ID=sa;Password=bumyagaraf4"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>