<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Barber.Properties.Settings.BarberShopConnectionString"
            connectionString="Data Source=LAPTOP-0SQR7EBD\DZAKYHANIFANNAFI;Initial Catalog=BarberShop;User ID=SA;Password=jeck1908;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>